.politicos-filtro {
  text-align: -webkit-auto;
  margin: 80px 0 30px 0;
}

.politicos-filtro label,
.politicos-filtro select,
.politicos-filtro input {
  display: -webkit-inline-box;
}

.col-estado {
  margin-left: 15px;
}

.input-nome {
  margin-top: -5px;
}

.gasto-por-dispesa > .label {
  color: #4c4c4c;
}

.proposicao {
  text-align: left;
}

.politico-img {
  max-width: 100%;
}

.btn-primary {
  background-color: #2e414d;
  border-color: #2e414d;
}

.btn-primary:hover {
  background-color: #3b5363;
  border-color: #3b5363;
}

.btn-perfil-xs {
  margin-bottom: 5px;
}

.fadeInDown img,
.navbar-fixed-top img {
  max-width: 20%;
}

header.header-top[role="header"] hgroup nav .navbar-toggle {
  top: -35px !important;
}

@media (max-width: 768px) {
  .input-nome {
    margin-top: 5px;
  }
  .col-estado {
    margin-left: 0px;
  }
  .politico-info {
    margin-top: 10px;
  }
}
